# ========== PYTHON STUFF ==========
__pycache__/
*.py[cod]
*.log

# ========== SYSTEM FILES ==========
.DS_Store
Thumbs.db

# ========== ENVIRONMENTS ==========
venv/
ENV/
env/
.venv/

# ========== MODEL WEIGHTS / LARGE FILES ==========
*.pt
*.pkl
*.h5
*.onnx

# ========== IDE / EDITOR FILES ==========
.vscode/
.idea/

# ========== YOLOV5 CACHE ==========
yolov5/runs/
yolov5/data/*.cache

# ========== CHECKPOINTS / LANDMARKS ==========
shape_predictor_68_face_landmarks.dat
ADAS/
